################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/modul04/TodoListBlazor/obj/Debug/net9.0
/modul04/TodoListBlazor/obj/Release/net9.0
/TemplateAPI/TemplateAPI/obj/Debug/net9.0
/TemplateAPI/TemplateAPI/obj/Release/net9.0
/.vs/Github/v17
/.vs
/TemplateAPI/kreddit/shared/obj
/TemplateAPI/kreddit/kreddit-app/obj
